[Desktop Entry]
Name=Dynamic Power
Comment=Dynamic system power management and tray UI
Exec=dynamic_power_user
Icon=dynamic_power.default_ac.svg
Type=Application
Categories=System;Utility;Tray;
StartupNotify=false
