[Unit]
Description=Dynamic CPU Power Profile Adjuster
After=multi-user.target
ConditionPathExists=/usr/bin/dynamic_power

[Service]
ExecStart=/usr/bin/dynamic_power
Restart=always
User=root

[Install]
WantedBy=multi-user.target
